    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="/" class="navbar-brand">Home</a>
            </div>

            <ul class="nav navbar-nav">
                {% for element in data.project.rootNode.children.elements %}
                {% if element.schema.name == "category" %}
                <li>
                    <a href="{{element.path}}">{{element.fields.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </nav>